*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    border-collapse:collapse;
}
@font-face {
    font-family: "ColaFont";
    src: url(../Fonts/coca_colaregularrus_lat.otf);
}
@font-face {
    font-family: "Itim";
    src: url(../Fonts/Itim-Regular.ttf);
}
@font-face{
    font-family: "FontRus";
    src: url(../Fonts/ofont.ru_Serati.ttf);
}
@font-face {
    font-family: "FontRusMain";
    src: url(../Fonts/ofont.ru_Arbor.ttf);
}
:root{
    --fontsize--:calc(1vw + 1vh);
}
body{
    display: flex;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.leftside{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-right:-30vw;
}
video{
    width: 100vw;
    align-self:center;
}
.rightside{
    z-index: 5;
    font-family: "Itim", "FontRusMain";
    background-image:linear-gradient(#93f4ff81,#93f4ff81);
    background-blend-mode: overlay;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border:7px solid black;
    align-self: flex-end;
    width: 30vw;
    height: 100vh;
    border-collapse: collapse;
}
.top{
    border-bottom:7px solid black;
    width: 30vw;
    height: calc(var(--fontsize--) * 3.7);
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size:clamp(1rem,calc(var(--fontsize--) * 1.8),1.5rem);

}
.icon{
    background-image: url(../Images/Guide.png),
    linear-gradient(#ffffff,rgb(255, 255, 255));
    background-blend-mode: multiply;
    background-size: calc(var(--fontsize--) * 2) calc(var(--fontsize--) * 2.4), calc(var(--fontsize--) * 3) calc(var(--fontsize--) * 3);
    background-repeat: no-repeat;
    background-position: center,center;
    border-radius: calc(var(--fontsize--) * 1.8);
    width: calc(var(--fontsize--) * 3.4);
    height: calc(var(--fontsize--) * 3.4);
}
.messages{
    height:fit-content;
    margin-top:1vh;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    gap:1.5vh;
    scroll-snap-type: y proximity;
    overflow-y: scroll;
    height: 82vh;
}

.messages::-webkit-scrollbar{
    width: 0px;
}
.questions{
    scroll-snap-align: center;
    position: fixed;
    flex-direction: column;
    bottom: 2vh;
    z-index: 4;
    align-self: flex-end;
}
.messages div{
    position: relative;
    scroll-snap-align: center;
    color:white;
    font-size: clamp(1rem,calc(var(--fontsize--) *0.7), 1.5rem);
    background-image: url(../Images/TextBox.png);
    background-repeat: no-repeat;
    background-position: contain;
    background-size: 100% 100%;
    padding: 3vh;
    width: fit-content;
    max-width: 22vw;
    white-space: wrap;
    z-index: 3;
}
.messages :last-child{
    cursor: pointer;
}
.voidspace{
    padding: 0;
}
.questions p{
    font-size: clamp(1rem,calc(var(--fontsize--) *0.7), 1.5rem);
    background-image: url(../Images/revTextBox.png);
    padding: 3vh;
    background-size: 100% 100%;
    color:white;
    white-space: wrap;
    max-width: 18vw;  
}
.questions p span{
    animation-name: cooolef;
    animation-duration: 0.1s;
    position: relative;
    width: fit-content;
    float: left;
}
.messages div span{
    animation-name: cooolef;
    animation-duration: 0.1s;
    position: relative;
    width: fit-content;
    float: left;
}
.messages div span:nth-last-child(1)::after{
    font-size: calc(var(--fontsize--)*0.7);
    opacity: 1;
    content: "|";
}
.questions p span:nth-last-child(1)::after{
    animation-name: cooolef;
    animation-duration: 0.1s;
    content: "?";
}
.yours{
    cursor: pointer;
    align-self: flex-end;
    background-image: url(../Images/revTextBox.png) !important;
}
@keyframes cooolef{
    0%{
        left: -10vh;
        bottom: 1px;
    }
    100%{
        left:0px;
        bottom: 0px;
    }
}
.changeclass{
    animation-duration:2s;
    animation-name:change ;
}
@keyframes change{
    0%{
        transform: translateZ(0px);
    }
    100%{
        transform: translateZ(100px);
    }
}
.space{
    opacity: 0;
    width: 4px;
    float: left;
}
img{
    display: none;
    margin-right:30vw;
    margin-top:17vh;
    width: 70vw;
}
#skip{
    position: fixed;
    display: block;
    z-index: 10;
    color:white;
    background-color: brown;
    padding: 10px 2vw 10px 2vw;
    top:5vh;
    left:5vw;
}
@media (orientation: portrait) {
    body{
        flex-direction: column;
        height: 100vh;
    }
    .leftside{
        height: 30vh;
        margin-right: 0;
    }
    video{
        height: 40vh;
    }
    .rightside{
        height: 70vh;
        width: 100vw;
        border:5px solid black;
    }
    .top{
        width: 100%;
        height:fit-content;
        border-bottom:0.2vh solid black;
    }
    .messtext{
        min-width: 80vw;
    }
    .messages{
        height: 65vh;
        padding-bottom: 8vh;
    }
    .yours{
        min-width: 80vw;
    }
    #skip{
        top:15vh;
    }
    .questions{
        color:black
    }
    .questions p{
        min-width: 96vw;
    }
    img{
        margin: 0;
        margin-top:5vw;
        width: 100vw;
    }
}
